<mat-card>
    <mat-card-title>Excluir Cidade</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [value]="city.cityName" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Estado"
              [value]="city.state.stateName" name="state" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteCity()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>